<div class="bg-image" style="background-image: url('../../../assets/images/21.jpg');">
    <section class="h-100 bg-ternary">
      <div class="container py-5 h-100"> 
         <div class="row d-flex justify-content-center align-items-center h-100">
           <div class="col">
             <div class="card card-registration my-4">
               <div class="row g-0">
                 <div class="col-xl-6 d-none d-xl-block">
                   
                     
                      
                    <div class="map">
                       
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31491.963316653026!2d76.55331466414191!3d9.377840669872064!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b06238b6d16c77f%3A0xcc8edad512d19635!2sThiruvalla%2C%20Kerala!5e0!3m2!1sen!2sin!4v1676296397758!5m2!1sen!2sin"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" width="647px" height="810px"></iframe><br><br><br>
                      
    </div>
   
                 </div>
                 <div class="col-xl-6"style="background-color:skyblue" >
                   <div class="card-body p-md-5 text-white">
                     <h3 class="mb-5 text-uppercase">LET'S COMMUNICATE </h3>
     
                     <div class="row">
                       <div class="col-md-6 mb-4">
                         <div class="form-outline">
                          <label class="form-label" for="form3Example1m">First name</label>
                           <input type="text" id="form3Example1m" class="form-control form-control-lg" />
                           
                         </div>
                       </div>
                       <div class="col-md-6 mb-4">
                         <div class="form-outline">
                          <label class="form-label" for="form3Example1n">Last name</label>
                           <input type="text" id="form3Example1n" class="form-control form-control-lg" />
                           
                         </div>
                       </div>
                     </div>
                     <div class="row">
                     <div class="form-outline mb-4">
                      <label class="form-label" for="form3Example8">Email Address</label>
                       <input type="email" id="form3Example8" class="form-control form-control-lg" />
                       
                     
                    </div>
                    </div>
                    <div class="form-group">
                      <div class="form-outline mb-4">
                        <!-- <label class="form-label" for="form3Example8">Enter your comments...</label> -->
                        <textarea class="form-control form-control-lg" rows="10px" cols="60" id="form3Example8" placeholder="Enter your comments...."></textarea>
                        
                      </div>
                    </div>
                     
                     
     
                     
     
                     
     
                     <div class="d-flex justify-content-end pt-3">
                       <a href="index.html">
                       <button type="button" class="btn btn-primary btn-lg ms-2">Send</button></a>
                     </div>
     
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </div>
        </div> 
    </section>
  </div>
